<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">

        <!--Botão que chama o '#menu' que é um component, chama o método que fica alternando entre TRUE ou FALSE-->
        <a class="navbar-brand">
            <i 
                tabindex="0"
                (keyup.space)="menu.toggle()"
                (click)="menu.toggle()" 
                class="fa fa-bars mr-2">
            </i>
            ALURAPIC
        </a>

        <!--MENU com variavel de template #menu usada para associr o clique do botão na tag acima para chamar o toggle()-->
        <ap-menu #menu>
            <ul class="list-unstyled">
                
                <li>
                    <a showIfLogged [routerLink]="[ '/path', routeParam ]">Upload</a>
                </li>
                <li showIfLogged>Menu item 2</li>
                <li showIfLogged>Menu item 3</li>
            </ul>
        </ap-menu>> 
        
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name }}</a>
            <a (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']" >Please, login!</a>
            </span>
        </ng-template>
    </nav>

    <!--Component de mensagem de alerta do bootstrap-->
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>

</header>